@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --bg-1: #a517ba;
    --bg-2: #5f1782;
    --color: #ffbf00;
    --light-black: #333;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    --border: .1rem solid rgba(0,0,0,0.3);
    --fb: #1976d3;
    --yt: #f44236;
    --tw: #03a9f5;
    --wp: #25D366;
    --lnk: #0e76a8;
    --snp: #FFFC00;

}
* {
    margin: 0;padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    border: none;outline: none;
    transition: all .2s linear;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* utilities */
.title {
    padding-bottom: 30px;
    font-size: 3.2rem;
}
.title::before {
    content: '';
    background: var(--bg-2);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(70px);
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    /* background-image: linear-gradient(to right, var(--bg-1), var(--bg-2)); */
    background-color: var(--bg-1) !important;
    padding: 0 !important;
    box-shadow: var(--box-shadow);
}

/* logo css */
.navbar-brand img{
    height: 45px; 
    padding-left: 1.2rem;
}
.navbar-nav li {
    padding: 0 .8rem;
}
.navbar-nav li a {
    font-size: 1.2rem;
    color: var(--white) !important;
    font-weight: 500;
    text-align:center;
}
.navbar-nav li a:hover {
    color: var(--color) !important;
}
.fa-bars {
    color: var(--white) !important;
    font-size: 2rem;
}
.navbar-toggler {
    outline: none !important;
    border: none;
}
/* banner section css */
#banner {
    background-color: var(--bg-1);
    color: var(--white);
    padding-top: 5%;
}
.promo-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5rem;
}
.play-btn {
    width: 45px;
    margin: 1.4rem;

}
#banner a{
    color: #fff !important;
}
#banner p{
    color: #fafafa !important;
}
.bottom-img {
    width: 100%;
}
/* servcies section css */
#services {
    padding: 80px 0;
}
#services h1{
    padding-bottom: 50px;
}
.service {
    padding: 25px 10px;
    border-radius: 5px;
    font-size: .9rem;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}
.service ion-icon{
    font-size: 3rem;
    margin-bottom: .6rem;
    color: var(--bg-1);
}
.service h2{
    font-weight: 600;
    margin-bottom: .6rem;
}
.service:hover {
    background: var(--bg-1);
    color: #fff;
    transform: scale(1.025 );
}
.service:hover ion-icon {
    color: #fff !important;
}
#services .btn-primary {
    box-shadow: none;
    padding: .8rem 2rem;
    border: none;
    border-radius: 5rem;
    background: var(--bg-2);
} 


/* -----about section css---- */
#about {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title {
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 8%;
}
#about ul li {
    margin: .8rem 0;
}
#about ul{
    margin-left: 1.3rem;
}


/* =======testimonials section css====== */
#testimonials {
    margin: 100px 0;

}
.testimonials {
    border-left: .1rem solid var(--bg-2);
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials i{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 60px;   
    margin-right: 10px;
}
.user-details {
    display: inline-block;
    font-size: 1rem;
}

/* social media section css */
#social-media {
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.icons a{
    
    display: inline-flex;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
    box-shadow: var(--box-shadow);  
    background-size: 100% 200%;
    background-position: 0%  5%;
    z-index: 1000;
    transition: background-position .2s linear, color .2    s linear;

}
.icons a:nth-child(1) {

    color: var(--fb);
    background-image: linear-gradient(#fff 50%, var(--fb) 50%);

}
.icons a:nth-child(2) {
    background-image: linear-gradient(#fff 50%, var(--yt) 50%);
    color: var(--yt)    ;
}
.icons a:nth-child(3) {
    background-image: linear-gradient(#fff 50%, var(--tw) 50%);
    color: var(--tw);
}
.icons a:nth-child(4) {
    background-image: linear-gradient(#fff 50%, var(--wp) 50%);
    color: var(--wp);
}
.icons a:nth-child(5) {
    background-image: linear-gradient(#fff 50%, var(--lnk) 50%);
    color: var(--lnk);
}
.icons a:nth-child(6) {
    background-image: linear-gradient(#fff 50%, var(--snp) 50%);
    color: var(--snp);
}
.icons a:hover{
    background-position: 0%  100%;
    color: #fff;
    /* transform: translateY(-10px); */
    
}